*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins' ,sans-serif;
    box-sizing: border-box;
}
body{
    background:linear-gradient(135deg,#cf9aff,#95c0ff);
    color: #fff;
 }

.container{
   width: 100%;
   display: inline-block;
   padding-top:4%;
   padding-left:10%;
} 

.container h1{
    display:flex;
    align-items: center;
    /* justify-content: center; */
    margin-bottom: 20px;
}
.container h1 img{
    width: 5%;
}

.container button{
    padding: 14px 20px;
    /* width:12%; */
    background:linear-gradient(#9418fd,#571094);
    border-radius: 24px;
    border: none;
    font-size: 20px;
    color: #fff;
    /* margin-bottom: 10px; */

}

.container button img{
    width: 20px;
    margin-right: 7px;

}

.input-box{
    position: relative;
    width: 100%;
    max-width: 500px;
    height:200px;
    background-color: #fff;
    color:#333;
    padding: 20px;
    margin: 20px 0;
    border-radius:5px;
    outline: none;
}

.input-box img{
    width:25px;
    position: absolute;
    bottom: 10px;
    right: 10px;
    cursor: pointer;
}